/**
 * Set Site Color Palette
 *
 * All of these can be variables
 */

$white: #fff;
$black: #000;

$base__color: #313F48;
$base__color_light: #54636D;
$body__backgroundColor: #eee;

$link__color: $base__color;
$link__hover: $base__color_light;
$link__focus: $base__color;


//
// Navigation Colors
//

$nav__linkColor: $base__color;
$nav__hoverColor: $base__color_light;
$submenu__borderColor: #eee;
$submenu__linkBackgroundColor: $white;

$primaryNav__backgroundColor: $white;
$primaryNav__borderColor: #eee;
$primaryNav__linkColor: $nav__linkColor;

$secondaryNav__backgroundColor: $white;
$primaryNav__borderColor: #eee;
$secondaryNav__linkColor: $nav__linkColor;

$jsNav__backgroundColor: $white;
$jsNav__linkColor: $black;
$jsNav__focusColor: #c3251d;


$siteHeader__backgroundColor: $white;
$siteFooter__backgroundColor: $white;